#!/bin/bash

pre_update() {
        # Execute before refresh and update
        echo "pre update function"
}

post_update() {
        # Execute if no errors and after update
        echo "post update function"
}

