[Unit]
Description=Custom auto update for OpenSUSE

[Service]
Environment="NOTIFYUSER=username"
Environment="TUMBLEWEED=yes"
Environment="NOGUI=no"
# AUTORESTART will only reboot if "zypper needs-rebooting" returns that a reboot is needed 
Environment="AUTORESTART=no"
# READ COMMENT BELLOW
# WARNING, do not set ALWAYSRESTART to yes if the service is enabled
# the reason is, the machine will always reboot, on boot
# the only way to stop it is with a live usb I guess
# set this only if run by a timer or manually
Environment="ALWAYSRESTART=no"
# Set this to yes if you're running firejail
# and want to recreate all the symlinks just in case
Environment="FIRECFG=no"
# Set this to yes if you want to auto agree with licenses
Environment="AGREELICENSE=no"
# Allow changing the architecture of a package
Environment="CHANGEARCH=no"
# Allow automatic changing of the vendor of a package
Environment="CHANGEVENDOR=no"
# How many times to retry in case the refresh command can't cache all repos
Environment="REFRESHRETRY=3"
# Where to look for the script which contains the pre and post update functions.
# If the script doesn't exists it will just ignore it.
Environment="PREPOSTFILE=/usr/local/bin/opensuse_custaup_prepost.sh"
# Don't forget to change this to the appropriate location!
# !!!
# SECURITY: It would be a good idea to copy all scripts to /usr/local/bin
# and to chown them as root:root and chmod to 750
ExecStart=/usr/local/bin/opensuse-custom-autoupdate.sh

[Install]
WantedBy=default.target

